<mat-toolbar class="sticky shadow-lg bg-body-tertiary" style="font-weight: 100; background-color: white;">
    <mat-toolbar-row>
        <span [routerLink]="['/']" style="cursor: pointer;">YouTrack</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>


<div class="container-fluid heading">
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding: 40px;">
                <h1 style="color: white; font-size: 50px; font-weight: bolder;">YouTrack.</h1>
            
                <h1 style="color: white; font-size: 50px;">The software development tool for the agile teams <button [routerLink]="['../auth-base']" class="btn btn-primary">Join Now</button></h1>
                

            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="card shadow p-3 mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

                            <h4 class="text-center">Login</h4>
                            
                            <div class="mb-1">
                                <label for="exampleInputEmail1" class="form-label">Work Email</label>
                                <input  type="email" class="form-control" formControlName="emailId"
                                    aria-describedby="emailHelp" autocomplete="off">
                                
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input  type="password" class="form-control"  formControlName="password" autocomplete="off">
                            </div>


                            
                            <button type="submit" class="btn btn-primary">Proceed</button>
                            <div *ngIf="errorMsg != null" class="text-center">
                                <span class="text-danger">{{errorMsg}}</span>
                            </div>

                        </form>
                        
                        <div style="font-size: 10px; color: rgb(190, 190, 190);" id="emailHelp" class="form-text">The purpose of the prototype is to understand the system-design/work-flow behind the Atlasian's JIRA, the prototype is still in the development phase.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>
