<div class="container-fluid heading">

    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding: 40px;">
                <h1 style="color: white; font-size: 50px; font-weight: bolder;">Collaborate w/ Teams.</h1>
                
                <h1 style="color: white; font-size: 50px;">Tool to manage multiple teams and  Projects.</h1>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="card shadow p-3 mb-5 bg-body-tertiary">
                    <div class="card-body">
                        <form>

                            <h4 class="text-center">YouTrack | Login</h4>
                            
                            <div class="mb-1">
                                <label for="exampleInputEmail1" class="form-label">Work Email</label>
                                <input  type="email" class="form-control" 
                                    aria-describedby="emailHelp" formControlName="emailId">
                                
                            </div>


                            <div class="mb-1">
                                <label for="exampleInputPassword1" class="form-label">Secret Code</label>
                                <input  type="text" class="form-control"  disabled placeholder="under_dev">
                            </div>

                            <div class="mb-1">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input  type="password" class="form-control"  formControlName="password">
                            </div>
                            <!-- <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Re-enter Password</label>
                                <input  type="password" class="form-control"  >
                            </div> -->
                            
                            


                            <button class="btn btn-primary">Proceed</button>
                            

                        </form>
                        
                        <div style="font-size: 10px; color: rgb(190, 190, 190);" id="emailHelp" class="form-text">The purpose of the prototype is to understand the system-design/work-flow behind the Atlasian's JIRA, the prototype is still in the development phase.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>